@import url('http://fonts.googleapis.com/css?family=Satisfy%7COpen+Sans');
/* font-family: 'Satisfy', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

.logo{
    width: 90px;
}

header h1{
    color: #c9c983;
    font-family: 'Satisfy', sans-serif;
    margin-top: 20px;
}

.nav-pills > li.active > a {
    color: #5c433f;
    background-color: #eeddcd;
}

.nav-pills > li.active > a:hover, .product button:hover, footer a:hover {
    background-color: #edf1f4;
    color: #5c433f;
}

nav li {
    font-size: 15px;
}

a:hover{
    text-decoration: none;
}

nav{
    top: 20px;
}

.jumbotron {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
}

.jumbotron h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}

/* My CSS */
.img_box{
    margin: 10px 0px;
}

.nav-pills > li > a{
    color: #5c433f;
    border: 1pt solid #5c433f;
}

.nav-pills > li > a:hover{
    background-color: #edf1f4;
}

.product{
    background-color: #eeddcd;
    /* padding: 15px; */
    border-radius: 5%;
    border: 5px solid rgb(252,252,252)
    /* MINE: background-clip: padding-box;
    border: 4pt solid transparent; */
}

/* .product > .row > div > button{
    border: 1pt solid black; 
} */

/* IN CLASS 10/4 */
.featured {
    margin-bottom: 60px;
}

.product button {
    margin-bottom: 10px;
    background-color: rgb(252,252,252)
}

aside a, footer{
    background-color: #eeddcd;
}

footer {
    padding-top: 20px;
    max-height: 100%;
}

footer a {
    color: #5c433f;
}

footer img {
    height: 90px;
}

.contact_info{
    padding-top: 15px;
    padding-left: 40px;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

.social{
    padding-top: 15px; 
}

footer .fine_print {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #333;
}